<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A brief timeline.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <a href="http://www3.imperial.ac.uk/johnadamsinstitute">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015 - 2017</h4>
                                    <h4 class="subheading">Postdoctoral research assistant, Imperial College London</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I am working on experiments to detect the signal of strong-field QED effects in laser-produced plasmas.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="http://www.imperial.ac.uk">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2015</h4>
                                    <h4 class="subheading">PhD, Imperial College London</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My PhD is in the field of laser-wakefield acceleration at the <a href="http://www3.imperial.ac.uk/johnadamsinstitute">John Adams Institute for Accelerator Science</a>, Imperial College London.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="https://www.chu.cam.ac.uk/">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2007 - 2011</h4>
                                    <h4 class="subheading">MA &amp; MSci, University of Cambridge</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I spent 4 years at <a href="https://www.chu.cam.ac.uk/">Churchill College</a>, Cambridge. My degrees were in Natural Sciences, specialising in Experimental and Theoretical Physics.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="http://www.bristol.gov.uk">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1988 - 2011</h4>
                                    <h4 class="subheading">Growing up in Bristol</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I went to school and sixth form in this pleasant city in the south west of England, famous for Banksy and balloons.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Born
                                    <br>Bristol, UK
                                    <br>1988</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
