<!-- Clients Aside -->
<section id="clients" class="bg-white">

      <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Press</h2>
                    <h3 class="section-subheading text-muted">Elsewhere I've appeared online</h3>
                </div>
            </div>

            <div class="col-lg-12 text-center">
                <ul class="list-inline press">
                  {% for publication in site.press %}
                    <li>
                      <a href="{{ publication.url }}">
                        <img src="img/logos/{{ publication.img }}" class="img-responsive img-centered" alt="" height="60">
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>

        </div>
</section>
