<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Interests</h2>
                    <h3 class="section-subheading text-muted">TL;DR: Nerd.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-magnet fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Physics</h4>
                    <p class="text-muted service-body">I am a professional experimental physicist, working in the field of laser-plasma electron accelerators. Using some of the most powerful lasers in the world, we accelerate electrons to GeV energies and probe fundamental quantum electrodynamic effects.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Maths</h4>
                    <p class="text-muted service-body">I'm not a mathematician, but I enjoy playing with simple models - especially those which yield interesting pictures. The interplay between mathematical and physical discoveries has always fascinated me.</p>

                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data</h4>
                    <p class="text-muted service-body">Data analysis and visualisation is an important part of science. Presenting data in novel ways can aid understanding. Presenting data clearly and appealingly can broaden its reach and maximise its impact.</p>
                </div>
            </div>
        </div>
    </section>
